/* Подключение шрифтов*/

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../fonts/montserrat-v14-latin_cyrillic-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/montserrat-v14-latin_cyrillic-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin_cyrillic-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('../fonts/montserrat-v14-latin_cyrillic-800.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin_cyrillic-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Общие свойства */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', normal;
    background-color: #f9f9f9;
}

.container {
    margin: 0 auto;
}

.padding-site {
    padding-left: 405px;
    padding-right: 405px;
}

.line {
    opacity: 0.5;
    border: 1px solid #A1A1A1;
}

.white-big-title {
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    line-height: 64px;
}

.white-subtitle {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.button {
    max-width: 200px;
    min-width: 200px;
    height: 45px;
    background: #4985ff;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    text-align: center;
}

.button:hover {
    background: #FFFFFF;
    box-shadow: #4985ff 0 0 0 4px;
}

.button:active,
.button:focus {
    box-shadow: #4985ff 0 0 0 2px;
}

.button:hover>.link {
    color: #FFFFFF;
    color: #4985ff;
}

.link {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    line-height: 45px;
    display: block;
}

.black-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
}

.black-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.small-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.small-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

.white-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
}

/* Свойства для header */
.header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.2s linear;
}

.header-active {
    background-color: #504DC2
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-list {
    display: flex;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 97px;
    text-decoration: none;
    padding: 0 20px;
}

.menu-list:last-child .menu-link {
    padding-right: 0;
}

.menu-link:active,
.menu-link:focus, 
.menu-link:hover {
    border-bottom: 2px solid #ffffff;
}

/* Свойства для intro */
.intro {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/Background-intro.jpg) no-repeat center;
    background-size: cover;
    min-height: 80vh;
    padding-top: 320px;
}

.intro-subtitle {
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

.intro-title {
    width: 100%;
    padding: 0 140px 50px 140px;
    margin: auto;
}

.intro-button {
    margin: auto;
}

/* Свойства для services */
.services {
    padding-bottom: 105px;
    padding-top: 110px;
    min-height: 50vh;
}

.services-title {
    width: 100%;
    padding: 0 170px 50px 170px;
    text-align: center;
}

.services-subtitle {
    width: 100%;
    padding: 0 180px;
    padding-bottom: 70px;
    text-align: center;
}

.services-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.services-column {
    max-width: 350px;
    min-width: 340px;
    margin-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-small-title {
    width: 225px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.services-small-subtitle {
    width: 225px;
}

.services-icon-circle {
    height: 110px;
    width: 110px;
    border: 1px solid #e0e0e0;
    border-radius: 55px;
}

.services-icon-ellipse {
    height: 90px;
    width: 90px;
    border: 1px solid #4985ff;
    border-radius: 45px;
    margin: 10px;
    text-align: center;
    padding: 25px;
}

.services-button {
    margin: auto;
}

/* Свойства для about */
.about {
    background: #f6f6f8;
    padding-top: 100px;
    padding-bottom: 60px;
}

.about-top-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 90px;
}

.about-standards {
    width: 490px;
    padding-bottom: 20px;
}

.about-title {
    margin-bottom: 40px;
}

.about-subtitle {
    margin-bottom: 30px;
}

.about-photo {
    border-radius: 30px;
    width: 500px;
    min-width: 250px;
    height: 400px;
    background: url(../img/aboutUs-photo.jpg) center;
}

.about-bottom-row {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.about-number {
    display: inline;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    padding-left: 20px;
}

.about-column {
    padding-bottom: 10px;
    min-width: 110px;
}

/* Свойства для all */
.all {
    padding-bottom: 85px;
    padding-top: 100px;
    min-height: 50vh;
    position: relative;
}

.all-color {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    height: 45%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.all-top-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
}

.all-title {
    width: 540px;
}

.all-bottom-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-gap: 30px;
    padding-bottom: 65px;
    justify-content: space-between;
}

.all-column {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.all-photo {
    border-radius: 10px;
    height: 300px;
}

.all-small-title {
    margin-top: 30px;
    margin-bottom: 30px;
}
.all-link {
    margin: auto 0 0 0;
}

.all-span {
    color: #4985FF;
}

.all-subtitle {
    margin-bottom: 30px;
}

/* Свойства для projects */
.projects {
    padding-top: 100px;
    padding-bottom: 130px;
    min-height: 50vh;
    background: #F6F6F8;
}

.projects-title {
    text-align: center;
    padding: 0 190px;
}

.projects-subtitle {
    text-align: center;
    padding: 50px 190px 70px 190px;
}

.projects-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.projects-column {
    max-width: 255px;
    min-width: 200px;
    height: 255px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 50px;
}

.projects-column:hover .projects-photo{
    transform: scale(1.05);
}

.projects-photo {
    transition: 0.5s all;
}

.projects-button {
    margin: auto;
}

/* Свойства для subcribe */
.subcribe {
    padding-top: 70px;
    padding-bottom: 85px;
    position: relative;
    min-height: 50vh;
}

.subcribe-color {
    position: absolute;
    top: 0;
    left: 0;
    background:  linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../img/Background-subcribe.jpg) no-repeat center;
    background-size: cover;
    height: 55%;
    width: 100%;
    z-index: -1;
}

.subcribe-title {
    text-align: center;
    padding: 0 50px;
}

.subcribe-subtitle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 0 50px;
}

.subcribe-video {
    margin: auto;
    margin-bottom: 85px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subcribe-video-img {
    height: 430px;
    object-fit: cover;
    border-radius: 10px;
}

.subcribe-link {
    display: inline-block;
    background: url(../img/play-button.svg) no-repeat 13% center;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    width: 300px;
    height: 100px;
    text-decoration: none;
    line-height: 100px;
    text-align: right;
    padding-right: 30px;
    transition: 0.7s all;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.subcribe-link:hover {
    background: url(../img/play-button.svg) no-repeat center center;
    color: transparent;
    width: 100px;
}

.subcribe-link:active {
    background: url(../img/play-button.svg) no-repeat center center;
    color: transparent;
    width: 100px;
    background-size: 100%;
    border: none;
}

.subcribe-small-title {
    margin-top: 85px;
    margin-bottom: 20px;
    text-align: center;
}

.subcribe-bottom-subtitle {
    margin-bottom: 30px;
    text-align: center;
}

.subcribe-small-subtitle {
    margin-top: 35px;
    text-align: center;
}

.subcribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subcribe-fieldset {
    border: none;
}
.subcribe-email {
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 300px;
    height: 45px;
    padding-left: 33px;
    font-size: 13px;
    color: #999999;
}

.subcribe-submit {
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;
    width: 190px;
    height: 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-left: -10px;
}

.subcribe-submit:hover {
    background: #FFFFFF;
    box-shadow: #4985ff 0 0 0 4px;
    color: #4985ff;
}

.subcribe-submit:active,
.subcribe-submit:focus {
    box-shadow: #4985ff 0 0 0 2px;
}

/* Свойства для footer */
.footer {
    padding-top: 70px;
    padding-bottom: 30px;
    min-height: 30vh;
    background: #F6F6F8;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 70px;
}

.footer-column {
    width: 242px;
}

.footer-small-subtitle {
    display: block;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-small-subtitle:hover {
    opacity: 0.75;
}

.footer-rights {
    margin-top: 30px;
    text-align: center;
}